footer {
    /* position: absolute;
    width: 100%;
    height: 5px;
    background-color: black;
    font-size: 18px;
    color: white;
    margin-top: 30px;
    margin-bottom: 30px;
    padding-bottom: 30px;
    padding-left: 10px;
    padding-top: 15px;
    bottom:  0; */
}

.deleteButton {
  background: red;
  color: white;
}

.editForm {
  text-decoration: none;
}

.biggerList {
  border: 2px solid black;
  width: 80%;
  margin: 10px;
  padding: 2px 0 10px 0;
}

.eventForm {
  border-bottom: 4px solid black;
  margin: 0 auto;
  text-align: center;
  text-justify: left;
}